# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# macOS specific
.DS_Store
.AppleDouble
.LSOverride

# Virtual Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE / Editor folders
.vscode/
.idea/
*.swp
*.swo

# Jupyter Notebook checkpoints
.ipynb_checkpoints